html, body {
  height: 100%;
}

#map-canvas {
  width: 100%;
  height: 100%;
}

#map-action {
  position: absolute;
  left: 15%;
  top: 2%;
}

#map-welcome {
  position: absolute;
  left: 15%;
  top: 250px;
  width: 500px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  padding-top: 0px;
}

a {
  font-weight: bold;
}

#dismiss {
  font-size: large;
}
